Repository marciatmerritt/my-react-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache, bash -c "tsc $* --noEmit", stylelint --fix --cache, imagemin-lint-staged

fix(config): resolve Husky and lint-staged setup issues
  .husky/pre-commit
  .lintstagedrc
Due: none

style(core): apply project-wide code formatting
  .lintstagedrc
  .prettierignore
  .stylelintrc.js
  eslint.config.js
Due: none

fix(config): ensure lint-staged processes staged files
  .husky/commit-msg
  .lintstagedrc
  package-lock.json
Due: prettier --write

feat(core): vitest testing added, fixed error in pre-commit
  .editorconfig
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .stylelintignore
  README.md
  eslint.config.js
  package-lock.json
  package.json
  src/App.test.tsx
  src/main.tsx
  src/vite-env.d.ts
  tests/setupTests.ts
  tsconfig.app.json
  vite.config.ts
Due: prettier --write, eslint --fix --cache, bash -c "tsc $* --noEmit"

docs(core): add and organize configuration, testing, and git hook docs
  .commitlintrc
  config/cz-config.json
  docs/CODE_QUALITY.md
  docs/CONFIGURATION.md
  docs/GIT_HOOKS.md
  docs/INDEX.md
  docs/INSTALLATION.md
  docs/LEARNING_LOG.md
  docs/PROJECT_STRUCTURE.md
  docs/TESTING.md
Due: prettier --write

Path conditions:
  prettier --write: (((any of: src/**/*.{ts,tsx,js,jsx}) or (any of: *.{json,md})) or (any of: *.{css,scss})) or (any of: *.{yaml,yml,toml})
  eslint --fix --cache: any of: src/**/*.{ts,tsx,js,jsx}
  bash -c "tsc $* --noEmit": any of: **/*.ts
  stylelint --fix --cache: any of: *.{css,scss}
  imagemin-lint-staged: any of: *.{png,*.jpeg,*.jpg,*.gif,*.svg}
